<ons-navigator>
   <ons-page style="background: url('images/whc_background.jpg'); background-position:center; background-repeat:no-repeat; background-size:cover;"><!--modifier="full_bg">-->
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">WineHighClub</div>
        </ons-toolbar>
         
        <div style="text-align: center" >
            <h1>&nbsp;</h1>
            <ons-row align="bottom">
                <ons-col>
                <div style="line-height: 70px">
                    <ons-button
                        ng-click="app.slidingMenu.toggleMenu()">
                        New Arrival
                    </ons-button>                        
                </div>
                </ons-col>
                <ons-col>
                <div style="line-height: 70px">
                    <ons-button
                        ng-click="app.slidingMenu.toggleMenu()">
                        2
                    </ons-button>              
                </div>
                </ons-col>
            </ons-row>
            <ons-row align="bottom">
                <ons-col>
                <div style="line-height: 70px">
                    <ons-button
                        ng-click="app.slidingMenu.toggleMenu()">
                        New Arrival
                    </ons-button>
                </div>
                </ons-col>
                <ons-col>
                <div style="line-height: 70px">
                    <ons-button
                        ng-click="app.slidingMenu.toggleMenu()">
                        New Arrival
                    </ons-button>              
                </div>
                </ons-col>
            </ons-row>
        </div>

    </ons-page>
</ons-navigator>
