<div class="page center" ng-controller="CatItemController as wine" ng-init="wine.init()"> 
<ons-toolbar>
        <div class="left" style="line-height: 44px">
          <ons-back-button>Back</ons-back-button>
          <ons-button
                        ng-click="wine.goBack()">
                        Back
                    </ons-button>    
        </div>        
        <div class="center">{{wine.id}}</div>
      </ons-toolbar>

    <ons-list-item class="center">                          
        <ons-button type="cta" should-spin="{{wine.isFetching}}" ng-click="wine.fetchPhotos()">Fetch Photos</ons-button>
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-repeat="item in wine.wines.wines | orderBy: 'product_name'" ng-click="wine.showDetail(item.cat_id)">  
        {{item.product_name}}  
    </ons-list-item>
</div>
